<!-- <h1>{{ module.background.video }}</h1> -->

<!-- <video play autoplay src="{{ module.background.video}}"></video> -->

<a-scene>
  <a-assets timeout="10000">
    {% if module.background.type == "video" %}
     <video id="background_video" autoplay loop="true" src="{{ module.background.video }}"></video>
    {% endif %}

    {% if module.background.type == "image" %}
      <img id="background_image" src="{{ module.background.image.src }}"></img>
    {% endif %}
  </a-assets>

  {% if module.model.type == "hello_world" %}
    <a-box position="-1 0.5 -3" rotation="0 45 0" color="blue" opacity="1"></a-box>
    <a-sphere position="0 1.25 -5" radius="1.25" color="#EF2D5E"></a-sphere>
    <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="#FFC65D"></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="#7BC8A4"></a-plane>
  {% endif %}

  {% if module.model.type == "model" %}
    <a-entity position="0 2 -4" >

      <a-entity scale="{{module.model.scale}} {{module.model.scale}} {{module.model.scale}}" gltf-model="{{ module.model.url }}"></a-entity>
    </a-entity>
  {% endif %}

  {% if module.background.type == "solid_color" %}
    <a-sky color="{{module.background.color.color}}"></a-sky>
  {% endif %}

  {% if module.background.type == "image" %}
    <a-sky src="#background_image" rotation="0 {{ module.background.rotation }} 0"></a-sky>
  {% endif %}

  {% if module.background.type == "video" %}
    <a-videosphere src="#background_video"></a-videosphere>
  {% endif %}
</a-scene>
