<!-- <h1>Animation</h1> -->

<a-scene
  {% for model in module.models %}
    animation-timeline__model_{{ loop.index }}_position="timeline: #timeline_model_{{ loop.index }}_position; loop: true"
    animation-timeline__model_{{ loop.index }}_rotation="timeline: #timeline_model_{{ loop.index }}_rotation; loop: true"
  {% endfor %}
>
  <a-assets timeout="10000">
    {% for model in module.models %}
      {% set modelIndex = loop.index %}
      <a-timeline id="timeline_model_{{ modelIndex }}_position">
        {% for position_animation in model.position_animations %}
          <a-timeline-animation select="#model_{{ modelIndex }}" name="position_{{ loop.index }}"></a-timeline-animation>
        {% endfor %}
      </a-timeline>

      <a-timeline id="timeline_model_{{ modelIndex }}_rotation">
        {% for rotation_animation in model.rotation_animations %}
          <a-timeline-animation select="#model_{{ modelIndex }}" name="rotation_{{ loop.index }}"></a-timeline-animation>
        {% endfor %}
      </a-timeline>
    {% endfor %}
  </a-assets>

  <a-entity position="0 0 -4">
    {% for model in module.models %}
      <a-entity
        id="model_{{ loop.index }}"
        position="{{ model.position }}"
        rotation="{{ model.rotation }}"

        {% set previousPositionValue = model.position %}
        {% for animation in model.position_animations %}
          animation__position_{{ loop.index }}="property: position; from: {{ previousPositionValue }}; to: {{ animation.position }}; dur: {{ animation.duration }}; easing: {{ animation.easing }}; autoplay: false"
          {% set previousPositionValue = animation.position %}
        {% endfor %}

        {% set previousRotationValue = model.rotation %}
        {% for animation in model.rotation_animations %}
          animation__rotation_{{ loop.index }}="property: rotation; from: {{ previousRotationValue }}; to: {{ animation.rotation }}; dur: {{ animation.duration }}; easing: {{ animation.easing }}; autoplay: false"
          {% set previousRotationValue = animation.rotation %}
        {% endfor %}
      >
      {% for primative in model.primatives %}

        {% if primative.type == "cube" %}
          <a-box
            position="{{ primative.position }}"
            rotation="{{ primative.rotation }}"
            scale="{{ primative.scale }}"
            color="{{ primative.color }}"
          ></a-box>
        {% endif %}

        {% if primative.type == "sphere" %}
          <a-sphere
            position="{{ primative.position }}"
            rotation="{{ primative.rotation }}"
            scale="{{ primative.scale }}"
            color="{{ primative.color }}"
          ></a-sphere>
        {% endif %}

      {% endfor %}
    </a-entity>
    {% endfor %}
  </a-entity>
</a-scene>
