{% if module.enabled %}
  <a-scene>
    <a-entity position="0 2.3 -4" >
      <!-- https://cdn.aframe.io/controllers/hands/leftHandHigh.glb -->
      <!-- https://cdn.aframe.io/controllers/magicleap/magicleap-one-controller.glb -->
      <a-entity scale="{{module.scale}} {{module.scale}} {{module.scale}}" gltf-model="{{ module.url }}"></a-entity>

      {% for label in module.labels %}
        <a-entity
          position="{{ label.x }} {{ label.y }} {{ label.z }}"
        >
          <a-entity
            geometry="primitive: plane; width: 2; height: auto"
            material="color: white"
            text="color: black; align: center; value: {{ label.title }}">
          </a-entity>
          <a-entity
            position="0 {% if label.below %}-{% endif %}0.35 0"
            geometry="primitive: plane; width: 0.005; height: 0.5"
            material="color: #333"
          ></a-entity>
        </a-entity>
      {% endfor %}

    </a-entity>
  </a-scene>
{% endif %}
