<a-scene>
  <a-assets timeout="10000">
      <img id="background_image" src="{{ module.image.src }}"></img>
  </a-assets>

  <a-sky src="#background_image" rotation="0 {{ module.rotation }} 0"></a-sky>
</a-scene>
